body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6ebe0;
}

p, button {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  color: #fffbe0;
}

section {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div {
  height: 75px;
  width: 75px;
  margin: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  background-color: #ffb400;
}

.words {
  background-color: #2994b2;
}

.fade {
  background-color: #720026;
  opacity: 100%;
}

button {
  width: 200px;
  height: 45px;
  background-color: #364958;
  color: #fffbe0;
  font-size: .85em;
  margin-top: 20px;
  padding-top: 5px;
}

div.select {
  background-color: #e78775;
  border: 2px solid #c84361;
  transform: scale(.97);
}

.hidden {
  display: none;
}